.pictures {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

  .row{
    margin-left: 485px;
  }

  .column{
    padding: 50px;
    align-items: center;
    margin-top: -730px;
  }

  .imahe{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .titlest {
    font-family: 'Changa One', cursive;
    font-weight: 400;
    color: white;
    font-size: 20px;
    padding: 8px 50px;
  }

  .boton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .amp {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }

  .boton:hover, a:hover {
    opacity: 0.7;
  }

  .jd-log {
    width: 35%;
  }
